@using PagedList.Mvc
@model PagedList.IPagedList<ModelEF.Model.Product>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Areas/ShopGiayTheThao/Views/Shared/_Layout.cshtml";
}

@section header {
    <i class="fa fa-file-text-o"></i>&nbsp;Quản lý sản phẩm
}

@using (Html.BeginForm("Index", "Product", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <p>
                @Html.ActionLink("Tạo mới", "Create", "Product", new { @class = "btn btn-danger" })
            </p>

            <div class="input-group">
                <input id="search-focus" type="search" value="@ViewBag.SearchString" name="searchString" placeholder="Tìm kiếm" class="form-control" />
                <div class="input-group-append">
                    <div class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th style="width: 10px">ID</th>
                            <th>Tên sản phẩm</th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                            <th>Loại sản phẩm - ID</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var i = 1;}
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@i</td>
                            <td>
                                @item.ID
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.UnitCost
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                            <td>
                                @item.CategoryID
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Detail", "Product", new { @id = item.ID }, new { @class = "fa fa-info" })
                                &nbsp;
                                @Ajax.ActionLink(" ", "Delete", new { @id = item.ID }, new AjaxOptions
                           {
                               Confirm = "Bạn có muốn xóa bản ghi này",
                               OnComplete = "$('#row_" + @item.Name + "').remove()",
                               HttpMethod = "Delete"
                           }, new { @class = "fa fa-trash" })
                            </td>
                        </tr>
                            i++;
                        }
                    </tbody>

                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
            </div>
        </div>
    </div>
</div>