@using PagedList.Mvc
@model PagedList.IPagedList<ModelEF.Model.UserAccount>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Areas/ShopGiayTheThao/Views/Shared/_Layout.cshtml";
}

@section header {
    <i class="fa fa-user"></i>&nbsp; Quản lý người dùng
}

@using (Html.BeginForm("Index", "User", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <p>
                @Html.ActionLink("Tạo mới", "Create", "User", new { @class = "btn btn-danger" })
            </p>

            <div class="input-group">
                <input id="search-focus" type="search" value="@ViewBag.SearchString" name="searchString" placeholder="Tìm kiếm" class="form-control" />
                <div class="input-group-append">
                    <div class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px">STT</th>
                            <th>Cấu hình</th>
                            <th>Tên đăng nhập</th>
                            <th>Mật khẩu</th>
                            <th>Tình trạng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var i = 1;}
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>@i</td>
                                <td>

                                    @Html.ActionLink(" ", "Edit", "User", new { @id = item.ID }, new {@class="fas fa-pen" })
                                    &nbsp;
                                    @Ajax.ActionLink(" ", "Delete", new { @id = item.ID }, new AjaxOptions
                               {
                                   Confirm = "Bạn có muốn xóa bản ghi này",
                                   OnComplete = "$('#row_" + @item.UserName + "').remove()",
                                   HttpMethod = "Delete"
                               }, new { @class = "fa fa-trash" })
                                </td>
                                <td>@item.UserName</td>
                                <td>
                                    @item.PassWord
                                </td>
                                <td><span class="badge bg-danger">@item.Status</span></td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
            </div>
        </div>
    </div>
</div>

